<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:18</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 16:01:19</td>   <td>521</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:19</td>   <td>524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:19</td>   <td>975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 16:01:35</td>   <td>16343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">login</td> 
  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:39</td>   <td>20604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:40</td>   <td>21496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 16:01:46</td>   <td>27640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">login</td> 
  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:51</td>   <td>32878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:52</td>   <td>33746</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/12/29 16:01:52</td>   <td>33834</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@29ca901e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@553871028</td>   <td></td> </tr>
</table>
